html,
body,
#app {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.card,
.container {
	background-color: #fff;
	box-sizing: border-box;
	padding: 15px;
	overflow-x: hidden;
	border: 1px solid #e4e7ed;
	border-radius: 6px;
	box-shadow: 0 0 12px #0000000d;
}
.container {
	margin-top: 10px;
}
.table_pagination {
	margin-top: 10px;
	text-align: right;
}

.el-drawer {
	.el-drawer__header {
		color: #606266;
		font-weight: 600;
		padding-bottom: 20px;
		border-bottom: 1px solid #dcdfe6;
	}
	.el-drawer__body {
		padding: 0 20px 20px;
	}
	.drawer-footer {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
}
