@font-face {
	font-family: SourceHanSansCN;
	src: url(~@/assets/fonts/SourceHanSansCN-Regular.otf);
	font-display: swap; /* 优化渲染 */
}

html,
body,
#app {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: SourceHanSansCN;
}

.card,
.container {
	position: relative;
	z-index: 1; /* 确保内容层级在伪元素之上 */
	box-sizing: border-box;
	padding: 15px;
	overflow-x: hidden;
	border-radius: 6px;
	box-shadow: 0 0 12px #000000;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1; /* 背景伪元素在内容后面 */
		opacity: 0.42; /* 只影响背景透明度 */
		background: linear-gradient(
			-180deg,
			rgba(69, 97, 130, 0.8) 0%,
			rgba(69, 97, 130, 0.5) 13%,
			rgba(69, 97, 130, 0.1) 50%,
			rgba(69, 97, 130, 0.4) 90%,
			rgba(69, 97, 130, 0.8) 100%
		);
	}
}
.card_top {
	&::before {
		background: linear-gradient(
			90deg,
			rgba(69, 97, 130, 0.8) 0%,
			rgba(69, 97, 130, 0.5) 13%,
			rgba(69, 97, 130, 0.1) 50%,
			rgba(69, 97, 130, 0.4) 90%,
			rgba(69, 97, 130, 0.8) 100%
		);
	}
}
.container {
	margin-top: 10px;
}
.table_pagination {
	margin-top: 10px;
	text-align: right;
}

.el-drawer {
	.el-drawer__header {
		color: #606266;
		font-weight: 600;
		padding: 15px 20px;
		border-bottom: 1px solid #dcdfe6;
		margin-bottom: 20px;
	}
	.el-drawer__body {
		padding: 0 20px 20px;
	}
	.drawer-footer {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
}

//滚动条样式
/* 针对 Webkit 内核浏览器（如 Chrome、Edge、Safari） */
::-webkit-scrollbar {
	width: 6px; /* 滚动条宽度 */
	height: 6px; /* 滚动条高度 */
}

::-webkit-scrollbar-thumb {
	// background: #888; /* 滚动条颜色 */
	background: rgba(201, 201, 202, 1); /* 滚动条颜色 */
	border-radius: 4px; /* 滚动条圆角 */
}

::-webkit-scrollbar-thumb:hover {
	// background: #555; /* 滚动条悬停颜色 */
	background: rgba(162, 162, 163, 1);
}

::-webkit-scrollbar-track {
	// background: #f1f1f1; /* 滚动条轨道颜色 */
	background: rgba(255, 255, 255, 0);
	border-radius: 4px;
}
